
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Northwind.CustomerDemographic.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new NERP.Northwind.CustomerDemographicGrid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>