
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Accounting.COA.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new NERP.Accounting.COAGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>