
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.Tax.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new NERP.Configuration.TaxGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>