
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ItemTransaction.Trans.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new NERP.ItemTransaction.TransGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>