
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.Brand.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new NERP.Configuration.BrandGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>